/* RESET */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* GENERAL */

body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://www.transparenttextures.com/patterns/ag-square.png');
  padding: 0 16px;
  color: #ff4949;
  background-color: #dedede;
}

/* OTHERS */

header {
  background-color: #c10000;
  color: #eee;
  margin: auto -16px;
  padding: 32px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header img {
  width: 48px;
  float: left;
  margin-right: 10px;
}

.product {
  background: #eee;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgb(126, 123, 123);
  padding: 10px;
  width: 300px;
  margin: 16px;
  float: left;
  text-align: center;
}

.product:hover {
  box-shadow: none;
}

.product h1 {
  color: #c10000;
  font-size: 1.5rem;
  margin: 10px;
}

.product img {
  margin: 10px;
}

.product p {
  font-size: 1.1rem;
  margin: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.product p:last-of-type {
  color: #c10000;
}